Django==3.1.4
mysqlclient==2.0.2
mysql-connector-python==8.0.22

braintree==3.32.0
defusedxml==0.4.1
oauthlib==2.0.1
PyJWT==1.4.2
python-social-auth==0.2.21
python3-openid==3.0.10
requests==2.12.3
requests-oauthlib==0.7.0
six==1.10.0
asgiref==3.3.1
pytz==2020.4
setuptools==51.0.0
wheel==0.35.1
virtualenv==20.2.2
virtualenvwrapper-win==1.2.6	

